body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('image/white.jpg');
}
 

  p {
    line-height: 1.75;
  }
  
  .picz{
    width:100px;
    height:100px;
    border-radius:50%;
  }
  
  .rounded-circle{
    width:300px;
    height:300px;
    border-width : 6px;
    border-style : none;
    color : rgb(12, 11, 11);
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  
  @media (min-width: 768px) {
    section {
      padding: 150px 0;
    }
  }
  
  .btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
    color:white;
  }
  
  .btn-cilck {
    background-color: #ffffff;
    border-color: #f55d17;
  }
  
  .btn-cilck:active, .btn-cilck:focus, .btn-cilck:hover {
    background-color: #f55d17 !important;
    border-color: #c42b2b !important;
    color: white;
  }
  
  .btn-cilck:active, .btn-cilck:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 123, 123, 0.5) !important;
  }
  
  
  
  #mainNav {
    background-color: #fab5b5;
  }
  
  #mainNav .navbar-toggler {
    font-size: 30px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color : rgb(255, 255, 255);
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #mainNav .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 100%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: rgb(255, 247, 247);
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fc083d;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
      color: #ffffff;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
    
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 2.25em;
      padding: 12px 0;
    }
  }
 
  .service-heading {
    margin: 15px 0;
    text-transform: none;
    flex-direction: row;
  }
  
  #portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
  }
  
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
   
   
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
  }
  
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
  }
  
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  
  #portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
  }
  
  #portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
   
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }
  
  #portfolio * {
    z-index: 2;
  }
  

  
  
  .buttom{
    display: inline-block;
    border: 2px rgb(11, 2, 63) solid;
    padding: 10px ;
    color: rgb(11, 4, 80);
    text-decoration: none;
    transition: 0.5s;
}
    .buttom:hover {
        background: rgb(137, 129, 245);
        color : rgb(255, 255, 255);
    }
